<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Foreman documentation: <%= @item[:title] %></title>
    <link rel="stylesheet" href="/css/default.css">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
  <%= render "/nav.html.erb" %>
  <div class="container narrow">
  <%= yield %>
  </div>
  </body>
</html>
