    <div id="wrap">
      <script src="/js/versions.js"></script>
      <script src="/js/nav.js"></script>
      <script>
        document.open();
        document.write(buildNavigation());
        addNavbarListeners();
        document.close();
      </script>
    </div>
