.DS_Store
publish.sh
/result
/web/public/*
.idea/*
Gemfile.lock
guides/common/default.css
.bundle/
/web/.bundle/
/web/vendor
/web/tmp/
/web/Gemfile.lock
/web/crash.log
/web/.byebug_history
/web/output/
*ascii*
