.DS_Store
.bundle/
.idea/*
.vale/styles/AsciiDoc/
.vale/styles/AsciiDocDITA/
.vale/styles/RedHat/
.vscode/*
/result
/vendor
/web/.bundle/
/web/.byebug_history
/web/Gemfile.lock
/web/crash.log
/web/output/
/web/public/*
/web/tmp/
/web/vendor
Gemfile.lock
data.json
guides/common/default.css
publish.sh
result.json
