<h1 class="pf-v6-c-content--h1 pf-m-page-title">Installation wizard</h1>

<form action="/guide" method="get" class="pf-v6-c-form">
  <div class="pf-v6-c-form__group">
    <div class="pf-v6-c-form__group">
      <label class="pf-v6-c-form__label" for="guide">
        <span class="pf-v6-c-form__label-text">Guide</span>&nbsp;<span class="pf-v6-c-form__label-required" aria-hidden="true">&#42;</span>
      </label>
      <select name="guide">
          <% guides.each do |id, guide| %>
          <option value="<%= id %>"><%= guide.title %></option>
          <% end %>
      </select>
    </div>

    <div class="pf-v6-c-check">
      <input class="pf-v6-c-check__input" type="checkbox" aria-describedby="http-proxy-description" id="http-proxy-input" name="http-proxy" />
      <label class="pf-v6-c-check__label" for="http-proxy-input">HTTP proxy</label>
      <span class="pf-v6-c-check__description" id="http-proxy-description">
        Select if your installation needs to connect through an HTTP proxy to connect to the internet.
      </span>
    </div>

    <div class="pf-v6-c-check">
      <input class="pf-v6-c-check__input" type="checkbox" aria-describedby="custom-ssl-description" id="custom-ssl-input" name="custom-ssl" />
      <label class="pf-v6-c-check__label" for="custom-ssl-input">Custom SSL certificates</label>
      <span class="pf-v6-c-check__description" id="custom-ssl-description">
        Select if you will provide the installation with SSL certificates to replace the self signed certificates.
      </span>
    </div>

    <div class="pf-v6-c-check">
      <input class="pf-v6-c-check__input" type="checkbox" aria-describedby="external-db-description" id="external-db-input" name="external-db" />
      <label class="pf-v6-c-check__label" for="external-db-input">External database</label>
      <span class="pf-v6-c-check__description" id="external-db-description">
        Select if you connect to an external PostgreSQL database instead of the internally managed instance.
      </span>
    </div>

    <div class="pf-v6-c-check">
      <input class="pf-v6-c-check__input" type="checkbox" aria-describedby="ipv6-description" id="ipv6-input" name="ipv6" />
      <label class="pf-v6-c-check__label" for="ipv6-input">IPv6</label>
      <span class="pf-v6-c-check__description" id="ipv6-description">
        Select if your installation is IPv6 enabled.
      </span>
    </div>

    <div class="pf-v6-c-form__group pf-m-action">
      <div class="pf-v6-c-form__actions">
        <button class="pf-v6-c-button pf-m-primary" type="submit">
          <span class="pf-v6-c-button__text">Render</span>
        </button>
      </div>
    </div>
</form>
