<!doctype html>
<html>
    <head>
        <title>Install wizard</title>
        <link rel="stylesheet" href="/css/patternfly-6.1.0.min.css">
        <link rel="stylesheet" href="/css/asciidoctor.css">
    </head>
    <body>
      <div class="pf-v6-c-page" id="nav-basic-example">
        <header class="pf-v6-c-masthead" id="nav-basic-example-masthead">
          <div class="pf-v6-c-masthead__main">
            <div class="pf-v6-c-masthead__brand">
              <a class="pf-v6-c-masthead__logo" href="/">
                Home
              </a>
            </div>
          </div>
        </header>
        <div class="pf-v6-c-page__main-container" tabindex="-1">
          <main
            class="pf-v6-c-page__main"
            tabindex="-1"
            id="main-content-nav-basic-example"
          >
            <section class="pf-v6-c-page__main-section pf-m-limit-width">
              <div class="pf-v6-c-page__main-body">
                <%= yield %>
              </div>
            </section>
          </main>
        </div>
      </div>

    </body>
</html>
