/*
  vim: nowrap sw=2 sts=2 ts=2 et:
  Foreman navigation bar
*/

/* Nav bar */
body {
  padding: 0;
  margin: 0;
  margin-top: 70px!important;
}
.container {
  position: relative;
  z-index: 1;
  padding-top: 50px;
  //padding: 5%;
  min-height: 100%;
}
.container p {
  font-family: sans-serif;
  font-size: 1.2em;
}
nav {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  padding: 0 1.5em;
  background-color: #025d8c;
  font-family: sans-serif;
  line-height: 70px;
}
nav .logo {
  width: 50px;
  vertical-align: middle;
}
nav .nav-menu {
  position: absolute;
  right: 0.3em;
  top: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}
nav .nav-item {
  display: inline-block;
}
nav .nav-item > a {
  display: inline-block;
  padding: 0 2.5em;
  line-height: 70px;
  color: #fff;
  text-decoration: none;
}
nav .dropdown {
  position: relative;
}
nav .dropdown a::after {
  content: "";
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
  border-top: 0.3em solid #fff;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
nav .dropdown.show a::after {
  transform: rotate(180deg);
}
nav .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 0.5em 0;
  margin-top: -0.5em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  background-color: #fff;
  width: max-content;
}
nav .dropdown-menu-left {
  left: auto;
  right: 0;
}
nav .dropdown.show .dropdown-menu {
  display: block;
}
nav .dropdown-div {
  display: block;
  padding: 0.4em 0;
  line-height: 4em;
}
nav .dropdown-div a::after {
  content: none;
  margin-left: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
nav .dropdown-item {
  display: block;
  padding: 0 1.5em;
  font-size: 0.875em;
  color: #000;
  line-height: 1.6em;
  text-decoration: none;
}
nav .btn-hamburger {
  display: none;
  position: absolute;
  right: 1.5em;
  top: 50%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);
}
nav .btn-hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 6px;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}
nav .btn-hamburger span:nth-child(4),
nav .btn-hamburger span:nth-child(5) {
  position: absolute;
  top: 10px;
  opacity: 0.5;
}
nav .btn-hamburger span:nth-child(4) {
  transform: rotate(45deg) scale(0);
}
nav .btn-hamburger span:nth-child(5) {
  transform: rotate(-45deg) scale(0);
}
nav.opened .btn-hamburger span:nth-child(4) {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}
nav.opened .btn-hamburger span:nth-child(5) {
  opacity: 1;
  transform: rotate(-45deg) scale(1);
}
nav.opened .btn-hamburger span:nth-child(1),
nav.opened .btn-hamburger span:nth-child(2),
nav.opened .btn-hamburger span:nth-child(3) {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  nav .nav-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #363d4e;
    transition: bottom 0.5s ease-in-out;
    overflow: hidden;
  }
  nav.opened .nav-menu {
    bottom: 0;
  }
  nav .nav-item > a {
    display: block;
  }
  nav .dropdown-menu {
    position: relative;
    top: 0;
    margin: 0 1.5em;
  }
  nav .btn-hamburger {
    display: block;
  }
}
