/*
  vim: nowrap sw=2 sts=2 ts=2 et:
  Foreman documentation site
*/
@media screen {
  div.narrow {
    max-width: 1080px;
    margin: 0 auto !important;
    margin-top: 70px auto !important;
    float: none !important;
  }
  #toc.toc2 {
    margin-top: 70px!important;
  }
}
