<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <script type="text/javascript" async="async" src="index_assets/ga.js"></script>
    <script type="text/javascript" src="index_assets/jquery_002.js"></script>
    <script type="text/javascript" src="index_assets/bootstrap.js"></script>
    <script type="text/javascript" src="index_assets/jquery-ui-1.js"></script>
    <script type="text/javascript" src="index_assets/jquery.js"></script>
    <script type="text/javascript" src="index_assets/scroll.js"></script>
    <script type="text/javascript" src="index_assets/moment.js"></script>
    <link rel="stylesheet" media="all" href="index_assets/bootstrap.css" />
    <link rel="stylesheet" media="all" href="index_assets/bootstrap-responsive.css" />
    <link rel="stylesheet" media="all" href="index_assets/jquery.css" />
    <link rel="stylesheet" media="all" href="index_assets/syntax.css" />
    <link rel="stylesheet" media="all" href="index_assets/style.css" />
    <link rel="stylesheet" href="index_assets/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="index_assets/css.css" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
    <link rel="icon" type="image/png" sizes="32x32" href="index_assets/favicon_32x32.png">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="index_assets/favicon_180x180.png">
    <link type="application/atom+xml" rel="alternate" href="https://theforeman.org/feed.xml" />
  </head>