<header id="page-header" style="padding: 0">
    <div class="container">
      <nav class="navbar navbar-default navbar-static-top">
        <ul class="nav navbar-nav nav-justified">
          <li class="visible-xs">
            <a class="index-link" href="https://theforeman.org/">Home</a>
          </li>
          <li class="hidden-xs">
            <a class="index-link" href="https://theforeman.org/"><i class="logo"><img style="width: 90px" src=
            "index_assets/foremanhelmet.svg" alt="Foreman home" /></i></a>
          </li>
          <li class="dropdown">
            <a role="button" aria-haspopup="true" aria-expanded="false">Available versions</a>
            <div class="dropdown-content">
              <a href="https://docs.theforeman.org">Nightly</a>
            </div>
          </li>
          <li class="dropdown">
            <a role="button" aria-haspopup="true" aria-expanded="false">Contribute</a>
            <div class="dropdown-content">
              <a href="https://community.theforeman.org">Discourse forum</a>
              <a href="https://github.com/theforeman/foreman-documentation/blob/master/README.md">How to contribute</a>
              <a href="https://github.com/theforeman/foreman-documentation">Repository</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
</header>
