<h2>Page not found!</h2>

<p>We are sorry, but this page does not exist.</p>
<p>Continue to the <a href="/">front page</a> to find available documentation.</p>

<script>
    const loc = document.location.toString();
    if (loc.includes("/master/") || loc.includes("/index-foreman.html")) {
        newLocation = document.location.toString()
                .replace("/master/", "/nightly/")
                .replace("/index-foreman.html", "/index-foreman-el.html");
        document.write("This page has been <a href=\"");
        document.write(newLocation);
        document.write("\">moved</a>. Redirecting in 3 seconds.");
        window.setTimeout(function() {
            window.location.href = newLocation;
        }, 3500);
    }
</script>
