<% if node.type == :xref  && !node.attr('path') %>
  anchor_id_for_href = node.target.sub(/^.*#/, '')
  link_text = node.text || node.reftext
  <a href="#<%= anchor_id_for_href %>" class="xref"><%= link_text %></a>
<% else %>
  <%# Fallback to default rendering for other inline anchors (e.g., normal links, external links) %>
  <%= super %>
<% end %>
