{{ $path := default "nightly" (.Get "version") }}

* [Planning for Foreman](/{{ $path }}/Planning_Guide/index-foreman-el.html)
* [Foreman Quickstart Guide on RHEL/CentOS](/{{ $path }}/Quickstart_Guide/index-foreman-el.html)
* [Foreman Quickstart Guide on Debian/Ubuntu](/{{ $path }}/Quickstart_Guide/index-foreman-deb.html)
* [Katello Quickstart Guide on RHEL/CentOS](/{{ $path }}/Quickstart_Guide/index-katello.html)
* [Installing Foreman on RHEL/CentOS](/{{ $path }}/Installing_Server_on_Red_Hat/index-foreman-el.html)
* [Installing Katello on RHEL/CentOS](/{{ $path }}/Installing_Server_on_Red_Hat/index-katello.html)
* [Installing Smart Proxy with Content on RHEL/CentOS](/{{ $path }}/Installing_Proxy_on_Red_Hat/index-katello.html)
* [Installing Smart Proxy on RHEL/CentOS](/{{ $path }}/Installing_Proxy_on_Red_Hat/index-foreman-el.html)
* [Installing Foreman on Debian/Ubuntu](/{{ $path }}/Installing_Server_on_Debian/index-foreman-deb.html)
* [Installing Smart Proxy on Debian/Ubuntu](/{{ $path }}/Installing_Proxy_on_Debian/index-foreman-deb.html)
* [Upgrading and Updating Foreman](/{{ $path }}/Upgrading_and_Updating/index-foreman-el.html)
* [Upgrading and Updating Katello](/{{ $path }}/Upgrading_and_Updating/index-katello.html)
* [Deploying Foreman on AWS (reference guide)](/{{ $path }}/Deploying_on_AWS/index-foreman-el.html)
* [Configuring Smart Proxies with a Load Balancer](/{{ $path }}/Configuring_Load_Balancer/index-foreman-el.html)
* [Provisioning Guide](/{{ $path }}/Provisioning_Guide/index-foreman-el.html)
* [Managing Organizations and Locations in Foreman](/{{ $path }}/Managing_Organizations_and_Locations/index-foreman-el.html)
* [Content Management Guide](/{{ $path }}/Content_Management_Guide/index-katello.html)
* [Configuring Foreman to use Ansible](/{{ $path }}/Configuring_Ansible/index-foreman-el.html)
* [Managing Hosts Guide](/{{ $path }}/Managing_Hosts/index-foreman-el.html)
* [Administering Foreman](/{{ $path }}/Administering_Red_Hat_Satellite/index-foreman-el.html)
* [Application Centric Deployment](/{{ $path }}/Application_Centric_Deployment/index-foreman-el.html)

Work in progress documentation drafts:

* [Integrating thirdparty systems with Webhooks](https://docs.google.com/document/d/11B1Mva-f8K8uCo1P8ozwvz2cYPdYUfEfSox6rlQdo3A/edit)
