{{ $path := default "nightly" (.Get "version") }}

* [Planning for Foreman](/{{ $path }}/Planning_Guide/index-foreman-el.html)
* [Installing Foreman on RHEL/CentOS](/{{ $path }}/Installing_Server_on_Red_Hat/index-foreman-el.html)
* [Installing Katello on RHEL/CentOS](/{{ $path }}/Installing_Server_on_Red_Hat/index-katello.html)
* [Installing Smart Proxy on RHEL/CentOS](/{{ $path }}/Installing_Proxy_on_Red_Hat/index-foreman-el.html)
* [Installing Foreman on Debian/Ubuntu](/{{ $path }}/Installing_Server_on_Debian/index-foreman-deb.html)
* [Installing Smart Proxy on Debian/Ubuntu](/{{ $path }}/Installing_Proxy_on_Debian/index-foreman-deb.html)
* [Deploying Foreman on AWS (reference guide)](/{{ $path }}/Deploying_on_AWS/index-foreman-el.html)
* [Configuring Smart Proxies with a Load Balancer](/{{ $path }}/Configuring_Load_Balancer/index-foreman-el.html)
* [Provisioning Guide](/{{ $path }}/Provisioning_Guide/index-foreman-el.html)
* [Content Management Guide](/{{ $path }}/Content_Management_Guide/index-katello.html)
* [Configuring Foreman to use Ansible](/{{ $path }}/Configuring_Ansible/index-foreman-el.html)
* [Managing Hosts Guide](/{{ $path }}/Managing_Hosts/index-foreman-el.html)
* [Administering Foreman](/{{ $path }}/Administering_Red_Hat_Satellite/index-foreman-el.html)
