---
name: deploy

on:
  push:
    branches:
      - master
      - "[0-9]+.[0-9]+"
  pull_request:
    branches:
      - master
      - "[0-9]+.[0-9]+"
env:
  RUBY_VERSION: 3.1
  PYTHON_VERSION: 2.x
  BUNDLE_WITHOUT: "nanoc"

jobs:
  build-html:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: guides
    steps:
      - name: Get branch name (merge)
        if: github.event_name != 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV
        working-directory: .

      - name: Get branch name (pull request)
        if: github.event_name == 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF} | tr / -)" >> $GITHUB_ENV
        working-directory: .

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - name: Build HTML with real links
        run: |
          make clean
          make html BUILD=foreman-el
          make html BUILD=foreman-deb
          make html BUILD=katello
          make html BUILD=satellite
          make html BUILD=orcharhino

      - name: Upload HTML
        uses: actions/upload-artifact@v2
        with:
          name: foreman-docs-html-${{ env.BRANCH_NAME }}
          path: guides/build/

  build-pdf:
    if: >
      github.repository_owner == 'theforeman' &&
      (github.ref == 'refs/heads/master' ||
      startsWith(github.ref, 'refs/heads/2.') ||
      startsWith(github.ref, 'refs/heads/3.'))
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: guides
    steps:
      - name: Get branch name (merge)
        if: github.event_name != 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV
        working-directory: .

      - name: Get branch name (pull request)
        if: github.event_name == 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF} | tr / -)" >> $GITHUB_ENV
        working-directory: .

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - name: Clean the environment
        run: make clean

      - name: Build PDFs
        run: |
          make pdf BUILD=foreman-el

      - name: Upload PDFs
        uses: actions/upload-artifact@v2
        with:
          name: foreman-docs-pdf-${{ env.BRANCH_NAME }}
          path: guides/build/*.pdf

  publish:
    if: >
      github.repository_owner == 'theforeman' &&
      (github.ref == 'refs/heads/master' ||
      startsWith(github.ref, 'refs/heads/2.') ||
      startsWith(github.ref, 'refs/heads/3.'))
    needs:
      - build-html
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Get branch name (merge)
        if: github.event_name != 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV

      - name: Get branch name (pull request)
        if: github.event_name == 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF} | tr / -)" >> $GITHUB_ENV

      - name: Create public directory
        run: mkdir -p public/${{ env.BRANCH_NAME }}

      - name: Download web (only for master)
        if: github.ref == 'refs/heads/master'
        uses: actions/download-artifact@v2
        with:
          name: foreman-docs-web-${{ env.BRANCH_NAME }}
          path: public

      - name: Download HTML
        uses: actions/download-artifact@v2
        with:
          name: foreman-docs-html-${{ env.BRANCH_NAME }}
          path: public/${{ env.BRANCH_NAME }}

      - name: Rename master to nightly
        if: github.ref == 'refs/heads/master'
        run: mv master nightly
        working-directory: ./public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          keep_files: true
