---
name: linkchecker

on:
  pull_request:
    branches:
      - master
      - "[0-9]+.[0-9]+"
env:
  RUBY_VERSION: 3.1
  BUNDLE_WITHOUT: "nanoc"
  MAKE_J: 3

jobs:
  check-html:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
        working-directory: guides
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - name: Install linkchecker
        run: |
          sudo apt-get update
          sudo apt-get install linkchecker -y

      - name: Clean the environment
        run: make clean

      - name: Build HTML with local links
        run: |
          make -j ${{ env.MAKE_J }} html BUILD=foreman-el LINKS=LOCAL
          make -j ${{ env.MAKE_J }} html BUILD=foreman-deb LINKS=LOCAL
          make -j ${{ env.MAKE_J }} html BUILD=katello LINKS=LOCAL
          make -j ${{ env.MAKE_J }} html BUILD=satellite LINKS=LOCAL
          make -j ${{ env.MAKE_J }} html BUILD=orcharhino LINKS=LOCAL

      - name: Check HTML links of all builds
        run: |
          make linkchecker-tryer
