---
name: Vale
on:
  pull_request:
    paths:
      - 'guides/common/**.adoc'
      - '.github/workflows/vale.yml'
      - '.vale/**'
      - .vale.ini

jobs:
  vale:
    name: linter
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Install Asciidoctor
        run: sudo apt-get install -y asciidoctor
      - uses: errata-ai/vale-action@v2
        with:
          filter_mode: diff_context
          vale_flags: "--no-exit --minAlertLevel=error"
          reporter: github-pr-review
          fail_on_error: true
          files: guides/common/
