name: Vale
on:
  pull_request:
    paths:
      - 'guides/common/**.adoc'
      - '.github/workflows/vale.yml'
      - '.vale/**'
      - .vale.ini
      - .vale-dita.ini

permissions:
  contents: read
  pull-requests: write

jobs:
  lint-style:
    name: lint style
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v6

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            guides/common/*.adoc
            guides/common/modules/*.adoc
          files_ignore: |
            guides/common/attributes*.adoc
            guides/common/header.adoc
            guides/common/ribbons.adoc

      - name: List changed files
        run: |
          echo "Any files changed? ${{ steps.changed-files.outputs.any_changed }}"
          echo "Changed files list: ${{ steps.changed-files.outputs.all_changed_files }}"
          echo "Count: ${{ steps.changed-files.outputs.all_changed_files_count }}"

      - name: Install Asciidoctor
        if: steps.changed-files.outputs.any_changed == 'true'
        run: sudo apt-get install -y asciidoctor

      - name: Vale style lint
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: errata-ai/vale-action@v2
        with:
          files: ${{ steps.changed-files.outputs.all_changed_files }}
          filter_mode: diff_context
          vale_flags: "--no-exit --minAlertLevel=error"
          reporter: github-pr-review
          fail_on_error: true

  lint-dita:
    name: lint DITA
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v6

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            guides/common/*.adoc
            guides/common/modules/*.adoc
          files_ignore: |
            guides/common/attributes*.adoc
            guides/common/header.adoc
            guides/common/ribbons.adoc
      
      - name: List changed files
        run: |
          echo "Any files changed? ${{ steps.changed-files.outputs.any_changed }}"
          echo "Changed files list: ${{ steps.changed-files.outputs.all_changed_files }}"
          echo "Count: ${{ steps.changed-files.outputs.all_changed_files_count }}"

      - name: Install Asciidoctor
        if: steps.changed-files.outputs.any_changed == 'true'
        run: sudo apt-get install -y asciidoctor

      - name: Vale DITA lint
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: errata-ai/vale-action@v2
        with:
          files: ${{ steps.changed-files.outputs.all_changed_files }}
          filter_mode: diff_context
          vale_flags: "--no-exit --minAlertLevel=warning --config=.vale-dita.ini"
          reporter: github-pr-review
          fail_on_error: true
