#!/usr/bin/env ruby

# all layouts use ERB
layout "/**/*.erb", :erb

# images, plain files, icons and JS
passthrough "/img/**"
passthrough "/js/**/*.js"
passthrough "/CNAME"
passthrough "/favicon.ico"

# SCSS compilation
ignore "/css/_*.{sass,scss}"
compile "/css/default.scss" do
  style = ENV['NANOC_ENV'] == 'dev' ? :expanded : :compressed
  filter :sass, syntax: :scss, style: style
  write ext: 'css'
end

# Build the menu navigation
compile "/js/*.js.erb" do
  filter :erb
  write item.identifier.without_ext
end

# HTML compilation with ERB
# a_page.html.erb -> a_page/index.html
compile "/**/*.html.erb" do
  filter :erb
  layout "/default.html.erb"
  write item.identifier.without_ext
end

# AsciiDoc compilation
# a_page.adoc -> a_page/index.html
compile "/**/*.adoc" do
  filter :asciidoctor
  layout "/default.html.erb"
  write ext: 'html'
end

# AsciiDoc with ERB compilation
# a_page.adoc.erb -> a_page/index.html
compile "/**/*.adoc.erb" do
  filter :erb
  filter :asciidoctor
  layout "/default.html.erb"
  write ext: 'html'
end
